*.lst
*.log
*.lxi
*.svg
*.png
DebugfromReport.xlsx
FullReport_old.csv
FullReport.csv
FullReport0.csv
Report.txt
WiNDC_National.log
WiNDC_National.log~1
WiNDC_National.log~2
WiNDC_National.lst
WiNDC_National.lxi
WiNnat_Algebraic.txt
WiNnat_Algebraic2.txt
~$DebugfromReport.xlsx
~$WiNDC_National.gms
.vscode/settings.json
WiNDC_National.log~3
nationaldata_ls/a_0.csv
nationaldata_ls/bopdef_0.csv
nationaldata_ls/DAAData.jld2
nationaldata_ls/duty_0.csv
nationaldata_ls/fd_0.csv
nationaldata_ls/fd.csv
nationaldata_ls/fs_0.csv
nationaldata_ls/gams_info.json
nationaldata_ls/i.csv
nationaldata_ls/id_0.csv
nationaldata_ls/Indices.jld2
nationaldata_ls/j.csv
nationaldata_ls/m_0.csv
nationaldata_ls/m.csv
nationaldata_ls/md_0.csv
nationaldata_ls/mrg_0.csv
nationaldata_ls/ms_0.csv
nationaldata_ls/s_0.csv
nationaldata_ls/sbd_0.csv
nationaldata_ls/ta_0.csv
nationaldata_ls/tax_0.csv
nationaldata_ls/tm_0.csv
nationaldata_ls/trn_0.csv
nationaldata_ls/ts_0.csv
nationaldata_ls/ts.csv
nationaldata_ls/ty_0.csv
nationaldata_ls/va_0.csv
nationaldata_ls/va.csv
nationaldata_ls/x_0.csv
nationaldata_ls/y_0.csv
nationaldata_ls/yr.csv
nationaldata_ls/ys_0.csv
nationaldata_ls - from GDX/~$Nationaldata_lsGDXforcsv.xlsx
nationaldata_ls - from GDX/a_0.csv
nationaldata_ls - from GDX/bopdef_0.csv
nationaldata_ls - from GDX/DAAData.jld2
nationaldata_ls - from GDX/fd_0.csv
nationaldata_ls - from GDX/fd.csv
nationaldata_ls - from GDX/fs_0.csv
nationaldata_ls - from GDX/i.csv
nationaldata_ls - from GDX/id_0.csv
nationaldata_ls - from GDX/Indices.jld2
nationaldata_ls - from GDX/j.csv
nationaldata_ls - from GDX/m_0.csv
nationaldata_ls - from GDX/m.csv
nationaldata_ls - from GDX/md_0.csv
nationaldata_ls - from GDX/ms_0.csv
nationaldata_ls - from GDX/nationaldata_ls.gdx
nationaldata_ls - from GDX/Nationaldata_lsGDXforcsv.xlsx
nationaldata_ls - from GDX/r.csv
nationaldata_ls - from GDX/s_0.csv
nationaldata_ls - from GDX/ta_0.csv
nationaldata_ls - from GDX/Table of Contents.csv
nationaldata_ls - from GDX/tm_0.csv
nationaldata_ls - from GDX/ts.csv
nationaldata_ls - from GDX/ty_0.csv
nationaldata_ls - from GDX/va_0.csv
nationaldata_ls - from GDX/va.csv
nationaldata_ls - from GDX/x_0.csv
nationaldata_ls - from GDX/y_0.csv
nationaldata_ls - from GDX/yr.csv
nationaldata_ls - from GDX/ys_0.csv
nationaldata_ls - original/a_0.gdx
nationaldata_ls - original/a_0Changed_needsreplacing.csv
nationaldata_ls - original/bopdef_0.csv
nationaldata_ls - original/DAAData.jld2
nationaldata_ls - original/duty_0.csv
nationaldata_ls - original/fd_0.csv
nationaldata_ls - original/fd.csv
nationaldata_ls - original/fs_0.csv
nationaldata_ls - original/gams_info.json
nationaldata_ls - original/i.csv
nationaldata_ls - original/id_0.csv
nationaldata_ls - original/Indices.jld2
nationaldata_ls - original/j.csv
nationaldata_ls - original/m_0.csv
nationaldata_ls - original/m.csv
nationaldata_ls - original/md_0.csv
nationaldata_ls - original/mrg_0.csv
nationaldata_ls - original/ms_0.csv
nationaldata_ls - original/s_0.csv
nationaldata_ls - original/sbd_0.csv
nationaldata_ls - original/ta_0.csv
nationaldata_ls - original/tax_0.csv
nationaldata_ls - original/TestCSVtoGDX.gdx
nationaldata_ls - original/TestCSVtoGDX.gms
nationaldata_ls - original/TestCSVtoGDX.log
nationaldata_ls - original/TestCSVtoGDX.log~1
nationaldata_ls - original/TestCSVtoGDX.log~2
nationaldata_ls - original/TestCSVtoGDX.log~3
nationaldata_ls - original/TestCSVtoGDX.lst
nationaldata_ls - original/TestCSVtoGDX.lxi
nationaldata_ls - original/tm_0.csv
nationaldata_ls - original/trn_0.csv
nationaldata_ls - original/ts_0.csv
nationaldata_ls - original/ts.csv
nationaldata_ls - original/ty_0.csv
nationaldata_ls - original/va_0.csv
nationaldata_ls - original/va.csv
nationaldata_ls - original/WiNnatCSV.gdx
nationaldata_ls - original/x_0.csv
nationaldata_ls - original/y_0.csv
nationaldata_ls - original/yr.csv
nationaldata_ls - original/ys_0.csv
nationaldata_ls - original w some updates/a_0.csv
nationaldata_ls - original w some updates/bopdef_0.csv
nationaldata_ls - original w some updates/DAAData.jld2
nationaldata_ls - original w some updates/duty_0.csv
nationaldata_ls - original w some updates/fd_0.csv
nationaldata_ls - original w some updates/fd.csv
nationaldata_ls - original w some updates/fs_0.csv
nationaldata_ls - original w some updates/gams_info.json
nationaldata_ls - original w some updates/i.csv
nationaldata_ls - original w some updates/id_0.csv
nationaldata_ls - original w some updates/Indices.jld2
nationaldata_ls - original w some updates/j.csv
nationaldata_ls - original w some updates/m_0.csv
nationaldata_ls - original w some updates/m.csv
nationaldata_ls - original w some updates/md_0.csv
nationaldata_ls - original w some updates/mrg_0.csv
nationaldata_ls - original w some updates/ms_0.csv
nationaldata_ls - original w some updates/s_0.csv
nationaldata_ls - original w some updates/sbd_0.csv
nationaldata_ls - original w some updates/ta_0.csv
nationaldata_ls - original w some updates/tax_0.csv
nationaldata_ls - original w some updates/tm_0.csv
nationaldata_ls - original w some updates/trn_0.csv
nationaldata_ls - original w some updates/ts_0.csv
nationaldata_ls - original w some updates/ts.csv
nationaldata_ls - original w some updates/ty_0.csv
nationaldata_ls - original w some updates/va_0.csv
nationaldata_ls - original w some updates/va.csv
nationaldata_ls - original w some updates/x_0.csv
nationaldata_ls - original w some updates/y_0.csv
nationaldata_ls - original w some updates/yr.csv
nationaldata_ls - original w some updates/ys_0.csv
Results/~$GAMSResults-2024-1-12.xlsx
data/nationaldata_ls - from GDX/~$NationalDataGDX.xlsx
data/nationaldata_ls - Notoriginal/gams_info.json
Results/CH4to1600.png
Results/CO2only1240-1250_2024-9-17.csv
Results/CO2only1240-1250_2024-9-17.xlsx
Results/MultiNatFDEMAND2024-09-16.xlsx
CO2to1600.png
Sens_d_elas_ra.csv
Sens_elas_a.csv
Sens_elas_dm.csv
Sens_elas_m.csv
Sens_elas_va.csv
Sens_elas_y.csv
Sens_t_elas_a.csv
Sens_t_elas_m.csv
Sens_t_elas_y.csv
Sens_SubSet.png
SensitivityTest_Outputs/MultiBoth_Sens_d_elas_ra.csv
SensitivityTest_Outputs/MultiBoth_Sens_elas_a.csv
SensitivityTest_Outputs/MultiBoth_Sens_elas_dm.csv
SensitivityTest_Outputs/MultiBoth_Sens_elas_y.csv
SensitivityTest_Outputs/MultiBoth_Sens_t_elas_a.csv
SensitivityTest_Outputs/MultiBoth_Sens_t_elas_y.csv
SensitivityTest_Outputs/MultiNat_Both_CounterVals.csv
SensitivityTest_Outputs/MultiNat_Both_ExpectedVal.csv
SensitivityTest_Outputs/Sens_elas_y.csv
SensitivityTest_Outputs/Sens_t_elas_y.csv
